= s3_uploader_form 	callback_url: profile_path(@profile), 
					callback_method: "PUT", 
					callback_param: "profile[logo]", 
					id: "s3-uploader" do
  = file_field_tag :file, multiple: true

%script#template-upload{type: "text/x-tmpl"}
  .upload{id: 'file-{%=o.unique_id%}'}
    {%=o.name%}
    .progress
      .bar{style: "width: 0%"}

#uploads.reveal-modal{'data-reveal'.to_sym => 'true'}
  %h1
    Uploading...
  %a.close-reveal-modal 
    &#215;

