%header List of organisations

#organisations-list
  - @organisations.each do |organisation|
    %ul
      #logo= image_tag organisation.profile.logo.url(:thumbnail)
      %li#name= link_to organisation.profile.name, profile_path(organisation.profile)
      %li#email= link_to organisation.email, "mailto:#{organisation.email}" 
%br