<main>
	<article id="welcome">
		<header>
			Welcome to PetRescue.eu
		</header>
		<p id="purpose">
			Lots of animals in need. 
			Organisations make a great effort but the task is difficult.
			Lots of good people becoming aware of the problem.

			PetRescue.eu is a personal non-profit project aiming to serve as a networking tool for 
			animal-welfare organisations and potential adoptive homes across Europe, thus helping 
			animals to find the homes they need and a better life.

			In order to attain the mentioned goals, we put a series of services at the disposal 
			of both animal organisations and individuals.
		</p>
		<section id="tools_for_individuals">
			<header>What can I do here as an individual ?</header>

			<p>In PetRescue.eu, we provide tools so that individuals can:</p>

			<ul>
				<li>
					Look for animals in need for a home in our database, which spans the whole Europe
				</li>
				<p>
					It is not always easy to find the proper pet since each home can have different
					needs or preferences about the characteristics of their ideal pet. A better 
					match between a home and a pet helps towards a succesful adoption and happier 
					life for both. Broadening the scope of the search to the whole Europe certainly 
					increases the possibilities of finding the perfect home for each pet, and vice 
					versa.
					PetRescue.eu aims to provide such capability by supporting organisations across 
					all Europe in registering their animals with our data base.
					Individuals who find a pet that they think fits their needs will be able to contact the organisation that registered the pet to communicate their interest in the adoption, which will be managed by the organisation itself under its own terms.
				</p>
				<li>
					Get to know animal-welfare organisations
				</li>
				<p>
					There are always people interested in collaborating, volunteering, making
					donations or somehow providing help to organisations, but can have some
					requirements too (for example finding a nearby organisation, one that focus on
					animals with special needs, particular breeds, or other reasons).
					PetRescue aims to provide information of interest about organisations so that
					they can be easily found and contacted, supporting people willing to help in
					their search for organisations to support.
					With this regard, for each of the organisations registered in the platform
					there is information including an overview of their goals and principles, location, scope of their work, a list of news, and a list of the animals they have currently registered as well as animals they have succesfully found a home for.
				</p>
			</ul>
		</section>
	</article>
</main>