<main>
	<article id="welcome">
		<header>
			Welcome to PetRescue.eu
		</header>
		<p id="purpose">
			Lots of animals in need. 
			Organisations make a great effort but the task is difficult.
			Lots of good people becoming aware of the problem.

			PetRescue.eu is a personal non-profit project aiming to serve as a networking tool for animal-welfare organisations and potential adoptive homes across Europe, thus helping animals to find the homes they need and a better life.

			In order to attain the mentioned goals, we put a series of services at the disposal of both animal organisations and individuals.
		</p>
	</article>
</main>