%main
  %article#welcome
    %header
      Welcome to PetRescue.eu
    %p#purpose
      Lots of animals in need.
      Organisations make a great effort but the task is difficult.
      Lots of good people becoming aware of the problem.
      
      PetRescue.eu is a personal non-profit project aiming to serve as a networking tool for
      animal-welfare organisations and potential adoptive homes across Europe, thus helping
      animals to find the homes they need and a better life.
      
      In order to attain the mentioned goal, we put a series of services at the disposal
      of both animal organisations and individuals with the aim of putting them in contact
      whenever an opportunity for adoption or collaboration arises.

    %section#tools_for_individuals
      %header What can I do here as an individual ?
      %p In PetRescue.eu, we provide tools so that individuals can:
      %ul
        %li
          Look for animals in need for a home in our database, which spans the whole Europe
        %p
          It is not always easy to find the proper pet since each home can have different
          needs or preferences about the characteristics of their ideal pet. A better
          match between a home and a pet helps towards a succesful adoption and happier
          life for both. Broadening the scope of the search to the whole Europe certainly
          increases the possibilities of finding the perfect home for each pet, and vice
          versa.
          PetRescue.eu aims to provide such capability by supporting organisations across
          all Europe in registering their animals with our data base.
          Individuals who find a pet that they think fits their needs will be able to contact the 
          organisation that registered the pet to communicate their interest in the adoption, which 
          will be managed by the organisation itself under its own terms.
        %li
          Get to know animal-welfare organisations
        %p
          There are always people interested in collaborating, volunteering, making
          donations or somehow providing help to organisations, but can have some
          requirements too (for example finding a nearby organisation, one that focus on
          animals with special needs, particular breeds, or other reasons).
          PetRescue aims to provide information of interest about organisations so that
          they can be easily found and contacted, supporting people willing to help in
          their search for organisations to support.
          With this regard, for each of the organisations registered in the platform
          there is information including an overview of their goals and principles, location, scope 
          of their work, a list of news, and a list of the animals they have currently registered 
          as well as animals they have succesfully found a home for.
        %li
          Learn ways to support animal-welfare organisations in their job
        %p
          There are some informative sections in this web site in which interested
          people can learn ways of helping organisations to keep protecting animals
          lives. See X, X, and X.

    %section#tools_for_organisations
      %header What can I do here as an organisation ?
      %p In PetRescue.eu, we provide tools so that organisations can:
      %ul
        %li
          Find adoptions for their pets
        %p
          As stated before, the main goal of PetRescue.eu project is to help rescued
          animals to find the homes they need.
          Organisations which sign up are be able to register their animals in the
          platform so that every interested individual can browse them and see if any of
          them matches their needs. In that case, that individual could contact the organisation to 
          state their interest, and the adoption would be managed by the own organisation under its 
          own terms, dealing directly with the individual.
        %li
          Get known
        %p
          The PetRescue.eu project aims to serve as a platform to promote the work of animal-
          welfare organisations.
          Organisations which sign up are be able to publish information about their
          purpose, their principles, their history, their work, their needs, and any
          other relevant information. They can also publish news so that everyone is
          updated with their current status.
        %li
          Promote their principles
        %p
          By clearly stating their principles and the main motivation behind them on
          their profiles, organisations are effectively using this platform as a means
          for the promotion of these principles over a target audience that spans the
          whole Europe.
        %li
          Get support
        %p
          Promotion of the organisations work and principles will also increase the
          probabilities of finding support from people that feel they want to
          collaborate with them.
          A general informative section on ways to help is provided in the web site,
          and also any organisation can ask for particular help through their published
          news.
