// Navigation bar style
#main-nav {
	@extend .nav;
	@extend .navbar;
	@extend .navbar-default;
	@extend .container-fluid;
	margin-bottom: 0;

	#collapsible-navigation-bar {
		// Make it collapsiple
		@extend .collapse;
		@extend .navbar-collapse;
	}

	#navigation-header {
		@extend .navbar-header;
	}

	#home-link {
		@extend .navbar-brand;
		color: #559955;
	}

	#navigation {
		@extend .navbar-left;
		@extend .navbar-nav;
		@extend .nav;
	}

	#identity-management {
		@extend .navbar-right;
		@extend .navbar-nav;
		@extend .nav;

		p {
			@extend .navbar-text;
		}
	}

	#collapsible-navigation-bar.collapse #navigation {
		border-bottom: 1px solid #ddd;
	}
}
