#welcome {

	> header {
		@extend .jumbotron;
		text-align: center;
		//color: #559955;
		background-color: transparent;

		a {
			@extend .btn;
			@extend .btn-lg;
			@extend .btn-primary;
			margin-top: 2rem;
			margin-left: 2rem;
			width: 20rem; 
		}
	}
}
